/* Container for the entire About page */

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 80vw; /* Set the width to 80% of the viewport width */
  padding: 0;
  margin: 0 auto; /* Center the container */
  background-color: white;
  color: black;
  position: relative;
  z-index: 1;

   
}

/* Content box styling */
.content {
  text-align: center;
  max-width: 80%; /* This ensures the content stays centered and is responsive */
  padding: 1rem;
  border-radius: 10px;
  margin-top:0;
  z-index: 2;
}

/* Main heading styles */
.h1 {
  font-size: 3.5rem;
  color: black;
  font-weight: bold;
  margin: 1rem 0;
  text-transform: uppercase;
  text-align: center;
}

/* Subheading styles */
.h1para {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  margin: 0.5rem 0;
  text-align: center;
}

/* Paragraph styling */
.paragraph {
  text-align: justify;
  margin: 0.5rem 0;
  font-size: x-large;
}

/* Animation for images */
.imageAnimation {
  margin: 1rem 0;
  border-radius: 10px;
  opacity: 0;
  animation: slideIn 1s forwards;
  width: 100%; /* Set image width to 100% */
  max-width: 800px; /* Optional: Set a max width for larger screens */
}
.image-container {
   padding-top: 50px;


}



@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsive Styling */
@media (max-width: 768px) {
  .imageAnimation {
    width: 100%; /* Ensures the image takes up 100% of parent container */
  }

  .h1 {
    font-size: 2rem;
  }

  .h1para {
    font-size: 1.5rem;
  }

  .paragraph {
    font-size: large;
  }
}

@media (min-width: 320px) and (max-width: 1025px) {
  .h1 {
    font-size: 3rem;
  }

  .h1para {
    font-size: 2.5rem;
  }
}


