.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  width: 80vw; /* Set the width to 80% of the viewport width */
  padding: 0;
  margin: 0 auto; /* Center the container */
  background-color: white;
  color: black;
  position: relative;
  z-index: 1;
}

/* Content box styling */
.content {
  text-align: center;
  max-width: 80%; /* This ensures the content stays centered and is responsive */
  padding: 1rem;
  border-radius: 10px;
  margin-top: 0;
  z-index: 2;
}

/* Subheading styles */
.h1para {
  font-weight: bold;
  font-size: 2rem;
  color: black;
  margin: 0.5rem 0;
  text-align: center;
}

/* Paragraph styling */
.paragraph {
  text-align: justify;
  margin: 0.5rem 0;
  font-size: x-large;
  line-height: 1.6; /* Adjusted line-height for better text flow */
}

/* Animation for images */
.imageAnimation {
  margin: 1rem 0;
  border-radius: 10px;
  opacity: 0;
  animation: slideIn 1s forwards;
  width: 100%; /* Set image width to 100% */
  max-width: 800px; /* Optional: Set a max width for larger screens */
}

.image-container {
  padding-top: 50px;
  
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Responsive Styling */
@media (max-width: 1660px) {
  .imageAnimation {
    width: 100%; /* Ensures the image takes up 100% of parent container */
    max-width: 100%; /* For smaller screens, make sure it doesn't overflow */
  }

  .h1para {
    font-size: 1.5rem; /* Reduce font size for subheading */
  }

  .paragraph {
    font-size: large;
    line-height: 1.4; /* Slightly reduced line-height for medium screens */
    margin: 0.25rem 0; /* Reduce vertical margin between paragraphs */
  }

  .image-container {
    padding-top: 50px; /* Less padding on mobile for better fit */
  }
}

@media (max-width: 480px) {
  .imageAnimation {
    width: 100vw; /* Set the image width to 100% of the viewport width */
    height: auto; /* Adjust height to maintain aspect ratio */
    margin: 0; /* Remove margin to avoid spacing around the image */
    border-radius: 0; /* Remove border radius for a full-width effect */
  }

  .image-container {
    padding-top: 50px; /* Remove padding on small screens */
  }

  .h1para {
    font-size: 1.2rem; /* Adjust subheading size for small devices */
  }

  .paragraph {
    font-size: medium;
    line-height: 1.3; /* More compact line-height for small screens */
    margin: 0.2rem 0; /* Further reduce margin for tighter spacing */
  }
}
