/* components/Slider.module.css */
.sliderContainer {
  width: 100%;
  margin: auto;
  position: relative;
  height: 100vh; /* Use viewport height for full-screen effect */
  padding-top: 60px;
}

.slides {
  position: relative;
  overflow: hidden;
  height: 100%; /* Use full container height */
}

.slide {
  height: 100%;
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease-in-out;
}

.slideHead {
  width: 100%;
  padding-top: 50px;
  height: 150px;
}

/* Media queries for responsive design */
@media (max-width: 640px) { /* Extra-small devices (phones) */
  .slide {
    height: 100vh;
  }

  .slideHead {
    height: 100px;
  }

  .thumbnail {
    width: 60px;
    height: 40px;
    
  }
}

@media (min-width: 641px) and (max-width: 768px) { /* Small devices (tablets) */
  .slide {
    height: 100vh;
  }

  .slideHead {
    height: 120px;
  }

  .thumbnail {
    width: 80px;
    height: 60px;
    
  }
}

@media (min-width: 769px) and (max-width: 1024px) { /* Medium devices (small laptops) */
  .slide {
    height: 100vh;
  }

  .thumbnail {
    width: 90px;
    height: 70px;
  }
}

@media (min-width: 1025px) and (max-width: 1280px) { /* Large devices (desktops) */
  .slide {
    height: 100vh;
  }

  .thumbnail {
    width: 100px;
    height: 70px;
  }
}

@media (min-width: 1281px) { /* Extra-large devices (large desktops) */
  .slide {
    height: 100vh;
  }

  .thumbnail {
    width: 120px;
    height: 80px;
  }
}

/* Fade animation */
.fade {
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.prevButton,
.nextButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.thumbnails {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  transform: translateY(-150%);
}

.thumbnail {
  margin: 0 5px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: border 0.3s ease;
  border: 2px solid black;
}

.thumbnail:hover {
  border: 2px solid crimson;
}

.activeThumbnail {
  border: 2px solid crimson;
}