.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: white;
  background-size: cover;
  width: 100vw;
  padding: 20px;
  padding-top: 50px;
  box-sizing: border-box;
}

/* Header Styling */
.h1 {
  color: black; 
  text-align: center;
  margin-bottom: 10px;
  font-size: xx-large;
  font-weight: 500;
}

.h4 {
  color: black;
  text-align: justify;
  font-weight: 500;
  font-size: x-large;
  padding-left: 30px;
  padding-right: 30px;
}


/* Other Styles */
.divh6 {
  color: black;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  width: 100%;
  max-width: 400px;
  font-size: xx-large;
  font-weight: 900;
  padding: 10px;
  padding-top: 30px;
}

.image {
  border-radius: 15px;
  width: 100%;
  max-width: 900px;
  height: auto;
  padding-right: 12px;
}

.imageLast {
  border-radius: 15px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 900px;
  height: 300px;
  padding-right: 12px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .h1 {
    font-size: large;
  }

  .h4 {
    font-size: medium;
  }

  .paragraph {
    font-size: medium; /* Adjust font size for smaller screens */
  }

  .divh6 {
    font-size: large;
    margin-right: 30px;
    margin-top: 30px;
  }

  .container {
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: medium;
  }

  .h4 {
    font-size: small;
  }

  .paragraph {
    font-size: small;
  }

  .divh6 {
    font-size: medium;
    margin-right: 14px;
    margin-top: 30px;
  }
}
