.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  min-height: 100vh; /* Ensures the content is vertically centered */
  background-color: white; /* Dark background */
  background-size: cover;
  width: 100vw; /* Full viewport width */
  color: white; /* Default text color */
  padding: 20px; /* Adds some spacing around the content */
  padding-top: 50px; /* Space at the top */
  box-sizing: border-box; /* Include padding in the width calculation */
}

.h1 {
  color:black; /* Crimson color for h1 */
  text-align: center; /* Center h1 text */
  margin-bottom: 10px; /* Space below */
  font-size: xx-large;
  font-weight: 500;
}

.h4 {
  color:black; /* White color for h4 */
  text-align: center; /* Center h4 text */
  margin-bottom: 20px; /* Space below */
  font-weight: 500;
  font-size: x-large;
}

.divh6 {
  color: black; /* White color for h6 */
  text-align: center; /* Center h6 text */
  background-color:white;
  border-radius: 5px;
  width: 100%; /* Full width for responsiveness */
  max-width: 400px; /* Limit max width */
  height: auto; /* Height adapts based on content */
  font-size:xx-large;
  font-weight:900;
  padding: 10px; /* Padding for better appearance */
  margin-bottom: 20px; /* Space below */

  
}

.image {
  border-radius: 15px; /* Smooth edges for images */
  margin-bottom: 30px; /* Adds space between images and the following content */
  width: 100%; /* Full width for responsiveness */
  max-width: 900px; /* Limit max width */
  height: auto; /* Maintain aspect ratio */
  padding-right: 12px;
  border:solid black 5px;
}
.imageLast{
  border-radius: 15px; /* Smooth edges for images */
  margin-bottom: 30px; /* Adds space between images and the following content */
  width: 100%; /* Full width for responsiveness */
  max-width: 900px; /* Limit max width */
  height: 300px; /* Maintain aspect ratio */
  padding-right: 12px;
  border:solid black 5px;
}
/* Responsive Styles */
@media (max-width: 768px) {
  .h1 {
      font-size: large; /* Adjust font size */
  }

  .h4 {
      font-size: medium; /* Adjust font size */
  }

  .divh6 {
      font-size: large; /* Adjust font size */
      margin-right: 30px;
      margin-top: 70px;
      
  }

  .container {
      padding: 10px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .h1 {
      font-size: medium; /* Further adjust font size */
  }

  .h4 {
      font-size: small; /* Further adjust font size */
  }

  .divh6 {
      font-size: medium; /* Further adjust font size */
      margin-right: 14px;
  }
}
